<p>template-form works!</p>

<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Template Form</h1>
    <p>Using ngModel</p>
</div>

<form class="row g-3" #form="ngForm">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Email</label>
      <input type="email" #fName="ngModel" name ='email' [(ngModel)]="studentObj.email" class="form-control" id="inputEmail4" required minlength="3">
      <!-- Form validation by frontend -->
      <div class="text-danger">
        @if((fName.touched || fName.dirty) && fName.errors?.['required']){
            <span>Required</span>
        }
        @else if((fName.touched || fName.dirty) && fName.errors?.['minlength']){
            <span>Min 3 character required</span>
        }
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label" >Password</label>
      <input type="password" name="password" [(ngModel)]="studentObj.password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" name="address" [(ngModel)]="studentObj.address" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" name="city" [(ngModel)]="studentObj.city" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" name="state" [(ngModel)]="studentObj.city" class="form-select">
        <option selected>Choose...</option>
        <option>Maharashtra</option>
        <option>Gao</option>
        <option>Panjab</option>
        <option>Rajstan</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" name="zip" [(ngModel)]="studentObj.zip" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="isAcceptTerms" [(ngModel)]="studentObj.isAcceptTerms" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
        <button class="btn btn-warning mx-1 text-white" (click)="resetForm()">Reset Form</button>
      <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="form.invalid">Sign in</button>
    </div>
  </form>

  <h1>Form Data</h1>
  <div class="row">
    {{formValue | json}}
  </div>