<p>data-binding works!</p>

<div class="row">
    <h4> One way data binding </h4>
    <div class="col-4">
        <h4>- From .ts to .html</h4>
        <div class="row">
            <div class="col-4 bg-success">
                <h5>Interpolation</h5>
                <h4>{{name}}</h4>
                <h3>{{age}}</h3>
                <h2>{{isMarried}}</h2>
                <input type="text" value="{{name}}" placeholder="Enter your name" />
            </div>

            <div class="col-4">
                <div [class]="color">
                    <h5>Property Bingding</h5>
                    <input [type]="inputType" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <h4> .html to .ts</h4>
        <h3>Event Binding</h3>
        <button class="btn btn-success" (click)="showAlert('Welcome to angular')">Show message</button>
        <span (click)="showAlert('I am span tag')">Click me</span>
        <br>
        <button class="btn btn-success" (click)="changeName()">Change Name</button>
    </div>

</div>

<br><hr>

<div class="div row">
    <div class="col-4">
        <h4>Two way data binding</h4>
        <!-- ngModel Works only on input element -->
        <input type="text" [(ngModel)]="name" />
        {{name}}
    </div>
</div>

<hr>

<div class="row">
    <div class="row-4">
        <h5>Signal Binding</h5>
        <h2>{{firstName()}}</h2>
    </div>
</div>