<p>post-api works!</p>
<app-alert-component [alertType]="'warning'" [message]="'Welcome to Post Api'"></app-alert-component>

<app-reusable-button [btnClass]="'btn btn-warning'" (onBtnClick)="getData($event)" [btnText]="'Save Record'"></app-reusable-button>

<div class="row">
  <div class="col-6">
    <div>
      <label for="exampleInputPassword1" class="form-label">Department Name</label>
      <input type="text" [(ngModel)]="deptObj.departmentName" class="form-control" id="exampleInputPassword1">
    </div>
    <div>
      <label>Logo</label>
      <input type="text" [(ngModel)]="deptObj.departmentLogo" class="form-control">
    </div>

    <div class="m-1 text-center">
      @if(deptObj.departmentId==0){
      <button class="btn btn-primary" (click)="onSave()">Save</button>
      }
      @else{
      <button class="btn btn-warning" (click)="onUpdate()">Update</button>
      }
    </div>
  </div>

  <div class="col-6">
    <div class="bg-secondary text-white p-1">
      Department Information
    </div>

    <table class="border">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Logo</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for(item of departmentList; track $index){
        <tr>
          <td>{{$index+1}}</td>
          <td>{{item.departmentName}}</td>
          <td>{{item.departmentLogo}}</td>
          <td>
            <button class="btn btn-success" (click)="onEdit(item)">Edit</button>
            <button class="btn btn-danger m-1" (click)="onDelete(item.departmentId)">Delete</button>
            <app-reusable-button [btnClass]="'btn btn-danger'" [btnText]="'Delete R'" (onBtnClick)="onDelete(item.departmentId)"></app-reusable-button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>