<p>for works!</p>

<h1>For</h1>

<div class="row">
    <div class="col-4">
        <ul>
            @for(item of cityArray; track $index){
                <li>{{item}}</li>
            }
        </ul>
    </div>
    <div class="col-4">
        @for(item of cityArray; track $index){
            <div>{{item}}</div>
        }
    </div>
    <div class="col-4">
        <select >
            @for(item of cityArray; track $index){
                <option>{{item}}</option>
            }
        </select>
    </div>
</div>

<h1>For in Table</h1>
<div class="row">
    <div class="col-5">
        <table class=" table table-bordered">
            <thead>
                <tr>
                    <th>Sr</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for(item of studentList; track $index){
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.isActive}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
