<p>pipe works!</p>

<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h4>Pipe in Angular</h4>
    <h3>Default Pipe & Custom Pipe</h3>
</div>

<div class="row">
    <div class="col-4 m-1 card">
        <h5>Capitalize</h5>
        <p class="bg-danger text-white">Original Value = {{firstName}}</p>
        <p class="bg-success text-white">After Pipe = {{firstName | uppercase}}</p>
    </div>
    <div class="col-4 m-1 card">
        <h5>Lower Case</h5>
        <p class="bg-danger text-white">Original Value = {{firstName}}</p>
        <p class="bg-success text-white">After Pipe = {{firstName | lowercase}}</p>
    </div>
    <div class="col-3 m-1 card">
        <h5>First Letter Capital</h5>
        <p class="bg-danger text-white">Original Value = {{firstName}}</p>
        <p class="bg-success text-white">After Pipe = {{firstName | titlecase}}</p>
    </div>
</div>

<div class="row">
    <div class="col-4 m-1 card">
        <h5>Custom Date</h5>
        <p class="bg-danger text-white">
            Original Value : {{currentDate | date}}
        </p>
        <p class="bg-success text-white">
            After Pipe : {{currentDate | date : 'dd-mm-yy'}}
        </p>
    </div>
    <div class="col-4 m-1 card">
        <h5>Show Date</h5>
        <p class="bg-danger text-white">
            Original Value : {{currentDate}}
        </p>
        <p class="bg-success text-white">
            After Pipe : {{currentDate | date}}
        </p>
    </div>
    <div class="col-3 m-1 card">
        <h5>Month in Letter</h5>
        <p class="bg-danger text-white">
            Original Value : {{currentDate | date}}
        </p>
        <p class="bg-success text-white">
            After Pipe : {{currentDate | date : 'dd/MMM/yyyy'}}
        </p>
    </div>
</div>

<div class="row">
    <div class="col-4 m-1 card">
        <h5>JSON</h5>
        <p class="bg-danger text-white">
            Original Value :{{user}} 
        </p>
        <p class="bg-success text-white">
            After Pipe : {{user | json}}
        </p>
    </div>
    <div class="col-4 m-1 card">
        <h5>Async</h5>
        <p class="bg-danger text-white">
            Original Value : {{currentTime}}
        </p>
        <p class="bg-success text-white">
            After Pipe : {{currentTime | async}}
        </p>
    </div>
    <div class="col-3 m-1 card">
        <h5>Async & date both</h5>
        <p class="bg-danger text-white">
            Original Value : {{currentTime }}
        </p>
        <p class="bg-success text-white">
            After Pipe : {{currentTime | async | date : 'hh:mm:ss'}}
        </p>
    </div>
    <div class="col-3 m-1 card">
        <h5>Custom Pipe</h5>
        <p class="bg-danger text-white">
            Original value : {{user.state}}
        </p>
        <p class="bg-success text-white">
            After Pipe : {{user.state | practice}}
        </p>
    </div>
</div>

