<p>switch works!</p>


<h1>Switch</h1>

<div class="row">
    <div class="col-6">
        <input type="text" [(ngModel)]="dayNumber" />
    </div>
    <div class="col-6">
        Day Name is :
        @switch (dayNumber){
        @case('1'){
        <h1>Monday</h1>
        }
        @case('2'){
        <h1>Thu</h1>
        }
        @case('3'){
        <h1>Wednesday</h1>
        }
        @case('4'){
        <h1>Ther</h1>
        }
        @case('5'){
        <h1>Friday</h1>
        }
        @case('6'){
        <h1>Saturday</h1>
        }
        @case('7'){
        <h1>Sunday</h1>
        }
        @default{
        <h1>Wrong Entry</h1>
        }

        }
    </div>
</div>